@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none;
}

.landing__main {
  min-height: calc(100vh - 180px);
}

@media (max-width: 768px) {
  .landing__main {
    min-height: calc(100vh - 206px);
  }
}

.left-aside .left-aside__inner_list {
  @apply mt-2 space-y-2 border-l-2 border-slate-800 lg:mt-4 lg:space-y-4
}

.left-aside__inner_list .inner_list__link {
  @apply block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full text-slate-500 before:hidden before:bg-slate-300 hover:text-slate-600 hover:before:block dark:text-slate-400 dark:before:bg-slate-700 dark:hover:text-slate-300
}

.left-aside__inner_list .inner_list__link_active {
  @apply block w-full pl-3.5 before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full font-semibold text-sky-500 before:bg-sky-500
}